.wishlist-wrapper {
  width: 75%;
  margin: 0 auto;
  height: 60vh;
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wishlist-wrapper h2 {
  font-size: 5rem;
  padding-right: 1.2rem;
  color: #dec3aa;
}
.wishlist-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.wishlist-wrapper p {
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.wishlist-header {
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #272727;
  text-transform: uppercase;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eaeaea;
}

.wishlist-data-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.wishlist-data-left-block {
  display: flex;
  align-items: center;
  gap: 15px;
}

.wishlist-data-left-block p {
  padding-bottom: 1rem;
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #242424;
}

.wishlist-data-right-block {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.wishlist-data-right-block textarea {
  background: #ffffff;
  border: 1px solid #e0e0e0;
}

.wishlist-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.wishlist-btns button {
  cursor: pointer;
}

.wishlist-btn-buy {
  width: 190px;
  height: 40px;
  background: #e1c4a9;

  font-family: "FuturaMediumC";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}

.wishlist-btn-buy:hover {
  text-decoration: underline #d7b494;
  color: #d7b494;
  background-color: #222222;
  transition: all 0.3s ease-in;
}

.wishlist-btn-cancel {
  font-family: "FuturaMediumC";
  background: #ffffff;
  width: 190px;
  height: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #c7c3c3;
  border: 1px solid #dadada;
  text-transform: uppercase;
}

.wishlist-btn-cancel:hover {
  transition: all 0.3s ease-in;
  background-color: #222222;
}
@media screen and (max-width: 768px) {
  .wishlist-wrapper {
    width: 90%;
    height: 50vh;
    margin-bottom: 5rem;
  }
  .wishlist-data-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .wishlist-data-right-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wishlist-data-right-block textarea {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0 0 1rem;
  }
  .wishlist-btn-buy {
    width: 100%;
  }
  .wishlist-wrapper h2 {
    padding-top: 5rem;
    line-height: 85px;
  }
  .wishlist-wrapper p {
    line-height: 30px;
  }
  .wishlist-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
