.submenu-wrapper {
  display: none;
  /* none */
  position: absolute;
  z-index: 99999;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 20px;
  right: 0;
  width: 600px;
  background-color: #fff;
  padding: 46px 45px 40px 47px;
  overflow: scroll;
  scroll-behavior: smooth;
  max-height: 650px;
}

.submenu-header {
  text-align: center;
  font-family: "FuturaMediumC";
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #222222;
  padding-bottom: 2rem;
}

.submenu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e0e0e0;
}
.submenu-container h1 {
  color: #746558;
}

.submenu-left-block {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
}

.submenu-img {
  width: 130px;
  height: 170px;
}

.submenu-cont-noprod {
  color: #746558;
}
.submenu-img img {
  width: 100%;
  height: 100%;
}

.submenu-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
  gap: 10px;
  width: 80%;
}

.submenu-items h4 {
  font-family: "FuturaMediumC";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #242424;
}

.submenu-items p {
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #242424;
}

.product-quantity {
  padding: 8px 13px;
  border: 1px solid #dadada;
  background: transparent;
  color: #aeadad;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
}

.submenu-right-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.submenu-btns {
  display: flex;
  justify-content: space-between;
}

.submenu-btns button {
  padding: 8px 15px;
  border: 1px solid #dadada;
  background: transparent;
  color: #d8d7d7;
  font-size: 17px;
  cursor: pointer;
  align-items: flex-end;
  font-family: "FuturaMediumC";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: right;
}

.submenu-btns button:hover {
  background-color: #222222;
  transition: all 0.3s ease-in-out;
}

.submenu-btns span {
  position: relative;
  padding: 8px 13px;
  border: 1px solid #dadada;
  color: #d8d7d7;
}

.submenu-right-block h4 {
  display: flex;
  align-items: flex-end;
  font-family: "FuturaMediumC";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  color: #242424;
}

.submenu-btn-right button {
  border: 1px solid #dadada;
  background: transparent;
  color: #c7c3c3;
  width: 135px;
  padding: 9px 13px;
  cursor: pointer;
}

.submenu-btn-right button:hover {
  background-color: #222222;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.submenu-bottom-block {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.submenu-bottom-block button {
  width: 100%;
  background-color: #222222;
  cursor: pointer;
  color: #fff;
  padding: 15px 0;
  border: none;
  border-radius: 5px;
}

.submenu-bottom-block button:hover {
  transition: all 0.3s ease-in-out;
  background-color: #dadada;
  color: #222222;
}

.submenu-bottom-block-left {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
}
.submenu-bottom-block-left p {
  font-size: 18px;
  text-transform: uppercase;
}

.submenu-cont-noprod {
  font-family: "FuturaMediumC";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222222;
  padding: 1rem 0 2rem 0;
}
